<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>24568833267-cn4slo9t9lqk123cko40csndqc0metnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24568833267-cn4slo9t9lqk123cko40csndqc0metnu</string>
	<key>API_KEY</key>
	<string>AIzaSyB-MGpYiU_v9-UWrw__BN_b9kG_iCs0LIw</string>
	<key>GCM_SENDER_ID</key>
	<string>24568833267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Merr.CloudCamera</string>
	<key>PROJECT_ID</key>
	<string>cameracloud-5d590</string>
	<key>STORAGE_BUCKET</key>
	<string>cameracloud-5d590.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:24568833267:ios:4e5a893ed13464f0</string>
	<key>DATABASE_URL</key>
	<string>https://cameracloud-5d590.firebaseio.com</string>
</dict>
</plist>